/*reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/bandeira2.jpg');
  backdrop-filter: blur(1vh);
  background-size: auto 100vh;
  font-family: Arial;
  font-size: 10px;
  height: 200vh;
}

/*Se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}
/*breakpoint*/
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

    /*breakpoint*/
@media (min-width:1200px){
    body{
        font-size: 20px;
    }
}

header {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*flex-wrap: wrap;*/
}

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
  /*color: teal;
  display: block;
  padding: 10px;
  text-decoration: none;*/
}
  a{
    color: teal;
    text-decoration: none;
  }
  a:hover{
    text-decoration: Underline;
  }


.site-title,.site-subtitle {
  color: whitesmoke;
  text-align: center;
}
.site-title{
    padding:18px;
    font-size: 4em;
}

.site-subtitle {
    
    font-style: italic;  
   /* color: #ffffff;*/
  color: silver;
 /* font-style: italic;*/
 /* font-weight: lighter;*/
  text-align: center;
  font-size: 2em;*/
}

.img-portfolio {
  height: 120px;
  width: 120px;
}

figcaption,h2{
    color:silver;
    
}