/*reset do css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('../img/bandeira2.jpg');
    backdrop-filter: blur(1vh);
    object-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    font-size: 10px;
    height: 100%;
    width:100%;
    font-family: 'Source Code Pro', monospace;
}



/*Se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}



/*breakpoint*/
@media (min-width: 600px) {
    body {

        font-size: 18px;
    }
}



/*breakpoint*/
@media (min-width:1200px){
    body{
        font-size: 20px;
    }
}



header {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*flex-wrap: wrap;*/
}



.menu {
    background-color: white;
    top: 0;
    position:fixed;
    width: 100vw;
    z-index: 1;
}



.menu ul {
    display: flex;
    justify-content: space-around;
}



.menu li {
    list-style: none;
}



.menu a {
    display: block;
    padding: 10px 20px;
    /*color: teal;
    display: block;
    padding: 10px;
    text-decoration: none;*/
    transition: background-color 4s, color 2s;
}



.menu a:active,
.menu a:hover{
    background-color: teal;
    color:rosybrown;
    /*transition: background-color 3s, color 2s;*/
}




a{
    color: teal;
    text-decoration: none;
}



a:hover{
    text-decoration: Underline;
}


/*.titulo{

    transform: scale(0.2) translateY(50vh);
    opacity: 0;

    animation: linear 36s animacaoTitulo forwards;

}

@keyframes animacaoTitulo {
    0%{

        transform: scale(0.2) translateY(50vh);
        opacity: 0;
    }

    100%{
        transform: scale(1) translateY(0);
        opacity: 1;

    }

}
*/




.titulo {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: marquee 6s linear forwards;
}



@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-34.5%, 0); }
}



.site-title,.site-subtitle {
    color: whitesmoke;
    text-align: center;
}



.site-title{
    padding:18px;
    font-size: 4em;
    font-family: 'Gloria Hallelujah', cursive;
}



.site-subtitle {

    font-style: italic;  
    /* color: #ffffff;*/
    color: black;
    /* font-style: italic;*/
    /* font-weight: lighter;*/
    text-align: center;
    font-size: 2.5em;
    font-family: 'Sacramento', cursive;
    line-height: 1.8em
}



.sobre,.portifolio,.contato{
    padding: 2em;
    min-height: 100vh;

}


@media(min-width:1200px){
    .sobre,
    .portifolio,
    .contato{
        max-width: 1200px;
        /* margin-left: auto;
        margin-right: auto;*/
    }

}




.img-portfolio {
    height: 120px;
    width: 120px;
    
    object-position: left bottom;
    transition: transform 500ms;
}



.img-portfolio:hover{
    transform: scale(1.3) rotate(-2deg);
} 




/*.flip-card{
    
    height: 180px;
    perspective: 1000px;
}*/




/*.card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 3s;
}*/




/*.flip-card:hover, card{
    /*backface-visibility: visible;
    transform: rotateY(180deg);
    
}*/




/*.card-front, .card-back{
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}*/



/*card-back{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .7);
    background-color: white;/
    height: 180px;
    width: 100%;
    transform: rotateY(180deg);
}
*/



.grid{
    display: grid;
    grid-gap: 3.5em;
}



@media(min-width:110px){
    .grid{

        grid-template-columns: repeat(2,120px);
        justify-content: center;
    }


}




@media(min-width:780px){
    .grid{

        grid-template-columns: repeat(2,120px);
        justify-content: center;
        align-content: center

    }

}




.sobre h2,
.contato h2,
.portifolio h2{
    color:silver;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 1.3em;
    font-size: 1.5em
}



.sobre p{
    color: #000001;
    font-family: Arial;
    font-weight: bolder;
    font-style: italic;
    text-align: justify;
    text-indent: 1.3em;
    margin-bottom: 1.2em; 
    text-shadow: rgba(255,255,255,0.9) -1px 4px 10px;
}



img[src$="eu.png"]{
    
    clip-path: polygon(45% 20%, 100% 20%, 100% 100%, 45% 100%, 20% 50%);
    /*clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);*/
    /*clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);*/
    float:right;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    width: 248px;
    height: 254px; 
    transform: translate(-50% -50%);
    border-radius: 20%;
    /*border-top-right-radius: 60%;
    
     
}


.sobre a:hover{
    color:cyan
}



.portifolio figure{
    text-align: center;
}



figcaption{
    font-style: italic;  
     color: #ffffff;*/
    color: black;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 1.3em;
    font-size: 1.01em
    transform:none;
}



.contato a{
    color: skyblue;
    font-size: 4em
}



.contato{
    
    text-align: center;
    /*box-sizing: -30em;*/
    padding-top: 15em;
}



.contato a:active,
.contato a:hover{
    text-decoration: none;
    text-shadow:rgba(255,255,255,0.5) 2px 4px 10px;
}



.contato .icons{
    text-align: center;
    display: inline;
}

